<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
<style type="text/css">
.c_i{width: 280px;}
</style>	
</head>
<body>
<section class="content">
<div class="row">
	<div class="col-md-12 col-md-offset-0">
		<div class="box-body">
			<form class="form-horizontal js-ajax-layer-form" action="/console/kjk/courseware/editStatus" method="post">
				 <div th:if="${not #strings.isEmpty(id)}">
					<input type="hidden" name="id" th:value="${id}" />	
				</div>							
	       		<h5 style="width:85px; display: inline-block;">状态：</h5>
	       			<select class="bt-select" name="status" required="true" style="height: 26px;width: 167px;">
	       				<option th:each="module:${moduleMap}" th:value="${module.key}"><div th:text="${module.value}"/></option>
	       			</select><br/>
				
				<br/><div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary js-ajax-submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</section>
<div th:include="console/footer"></div>
</body>
</html>