<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
<style type="text/css">
.c_i{width: 280px;}
</style>	
</head>
<body>
<section class="content">
<div class="row">
	<div class="col-md-12 col-md-offset-0">
		<div class="box-body">
			<form class="form-horizontal js-ajax-layer-form" action="/console/kjk/courseware/save" method="post">
				 <div th:if="${not #strings.isEmpty(info.id)}">
					<input type="hidden" name="id" th:value="${info.id}" />	
				</div>							
				<h5 style="width:85px; display: inline-block;">课件名称：</h5><input style="width:270px;" type="text" class="input" required="true" th:value="${info.name}" name="name" placeholder="请输入课件名称"/><br/>
	       		<h5 style="width:85px; display: inline-block;">项目名称：</h5><input style="width:270px;" type="text" class="input" required="true" th:value="${info.pName}" name="pName" placeholder="请输入项目名称"/><br/>
	       		<h5 style="width:85px; display: inline-block;">课件编号：</h5><input style="width:270px;" type="text" class="input" maxlength="32" th:value="${info.code}" name="code" placeholder="请输入课件编号"/><br/>
	       		<h5 style="width:85px; display: inline-block;">物理路径：</h5><input style="width:270px;" type="text" class="input" th:value="${info.path}" name="path" placeholder="请输入物理路径"/><br/>
	       		<h5 style="width:85px; display: inline-block;">文件类型：</h5><input style="width:170px;" type="text" class="input" th:value="${info.fileType}" name="fileType" placeholder="请输入文件类型"/><br/>
	       		<h5 style="width:85px; display: inline-block;">二级学科：</h5>
	       			<select id="subject2Name" class="bt-select" name="subject2" th:value="${info.subject2}" required="true" style="height: 26px;width: 167px;">
	       				<option></option>
	        	 		<option th:each="module:${subjectList}" th:value="${module.subject2Name}" th:selected="${#strings.equals(info.subject2, module.subject2Name)}" ><div th:text="${module.subject2Name}"/></option>
	       			</select><br/>
	       		<h5 style="width:85px; display: inline-block;">三级学科：</h5>	
	       			<select class="bt-select" id="subject" name="subject" required="true" style="height: 26px;width: 167px;">
	       				<option th:value="${info.subject}"><div th:text="${info.subject}"/></option>
	       			</select><br/>
	       		<h5 style="width:85px; display: inline-block;">关键字：</h5><input style="width:170px;" type="text" class="input" th:value="${info.keyword}" maxlength="10"  name="keyword" placeholder="请输入关键字"/><br/>	
	       		<h5 style="width:85px; display: inline-block;">介绍：</h5><input style="width:270px;" type="text" class="input" th:value="${info.introduce}" name="introduce" placeholder="请输入介绍"/><br/>	
	       		<h5 style="width:85px; display: inline-block;">专家：</h5><input style="width:270px;" type="text" class="input" required="true" th:value="${info.expert}" name="expert" placeholder="请输入专家"/><br/>	
	       		<h5 style="width:85px; display: inline-block;">专家单位：</h5><input style="width:270px;" type="text" class="input" required="true" th:value="${info.expertUnit}" name="expertUnit" placeholder="请输入专家单位"/><br/>	
	       		<h5 style="width:85px; display: inline-block;">来源：</h5>
	       			<select class="bt-select" name="source" required="true" style="height: 26px;width: 167px;">
	       				<option></option>
	        	 		<option th:each="module:${courSourceList}" th:value="${module}" th:selected="${#strings.equals(info.source, module)}" ><div th:text="${module}"/></option>
	       			</select><br/>
	       		<h5 style="width:85px; display: inline-block;">是否国家级项目：</h5>
	       			<select class="bt-select" name="projectLevel" required="true" style="height: 26px;width: 167px;">
	       				<option th:each="module:${moduleMap}" th:value="${module.key}" th:selected="${#strings.equals(info.projectLevel, module.key)}"><div th:text="${module.value}"/></option>
	       			</select><br/>		
	       		<h5 style="width:85px; display: inline-block;">电脑版播放类型：</h5>
	       			<select class="bt-select" name="playType" required="true" style="height: 26px;width: 167px;">
	       				<option></option>
	        	 		<option th:each="module:${kjkPlayTypeList}" th:value="${module.playType}" th:selected="${#strings.equals(info.playType, module.playType)}"><div th:text="${module.playTypeName}"/></option>
	       			</select><br/>
	       		<h5 style="width:85px; display: inline-block;">手机版播放类型：</h5>
	       			<select  class="bt-select" name="mobileType" required="true" style="height: 26px;width: 167px;">
	       				<option></option>
	       				<option th:each="module:${kjkPlayTypeList}" th:value="${module.playType}" th:selected="${#strings.equals(info.mobileType, module.playType)}"><div th:text="${module.playTypeName}"/></option>
	       			</select><br/>	
	       		<h5 style="width:85px; display: inline-block;">播放参数1：</h5><textarea rows="2" style="width: 300px;" name="par1" th:text="${info.par1}" placeholder="请输入播放参数1"  ></textarea><br/>
	       		<h5 style="width:85px; display: inline-block;">播放参数2：</h5><textarea rows="2" style="width: 300px;" name="par2"  th:text="${info.par2}" placeholder="请输入播放参数2" ></textarea><br/>
	       		<h5 style="width:85px; display: inline-block;">播放参数3：</h5><textarea rows="2" style="width: 300px;" name="par3" th:text="${info.par3}" placeholder="请输入播放参数3" ></textarea><br/>
	       		<h5 style="width:85px; display: inline-block;">时长（时:分:秒）：</h5><input style="width:270px;" type="text" required="true" readonly="readonly" th:value="${info.classTimeStr}" name="classTimeStr" class="time_str"/><br/>
	       		<h5 style="width:85px; display: inline-block;">标签：</h5>	<textarea rows="2" style="width: 300px;" name="label" th:text="${info.label}" placeholder="请输入标签" ></textarea><br/>
	       		<h5 style="width:85px; display: inline-block;">缩略图：</h5><input style="width:270px;" type="text" class="input" th:value="${info.slImg}" name="slImg" placeholder="请输入缩略图"/><br/>
	       		<h5 style="width:85px; display: inline-block;">logo：</h5><input style="width:270px;" type="text" class="input" th:value="${info.logo}" name="logo" placeholder="请输入logo"/><br/>
	       		<h5 style="width:85px; display: inline-block;">片头：</h5><input style="width:270px;" type="text" class="input" th:value="${info.piantou}" name="piantou" placeholder="请输入片头"/><br/>
	       		<h5 style="width:85px; display: inline-block;">片尾：</h5><input style="width:270px;" type="text" class="input" th:value="${info.pianwei}" name="pianwei" placeholder="请输入片尾"/><br/>
	       		<h5 style="width:85px; display: inline-block;">拍摄年份：</h5><input size="16" type="text" required="true" readonly="readonly" th:value="${info.shotYear}"  name="shotYear" class="form_datetime" /><br/>		
				<h5 style="width:85px; display: inline-block;">备注：</h5><textarea rows="2" style="width: 300px;" name="remark" placeholder="请输入备注" th:text="${info.remark}"></textarea><br/>
				
				<br/><div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary js-ajax-submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</section>
<div th:include="console/footer"></div>
<script type="text/javascript" src="/static/assets/bootstrap-3.3.5/js/laydate.js"></script>
<script type="text/javascript" src="/static/assets/fileinput/fileinput.min.js"></script>
<script type="text/javascript" src="/static/assets/fileinput/zh.js"></script>
<script type="text/javascript" src="/static/assets/fileinput/theme.min.js"></script>

<script th:inline="javascript">	
$(function() {
	
	//年选择器
	laydate.render({
	  elem: '.form_datetime'
	  ,type: 'year'
	});
	//年选择器
	laydate.render({
	  elem: '.time_str'
	  ,type: 'time'
	});
	
	$('#subject2Name').change(function(){
		var name=this.value;
		if(name !=''){
			$.ajax({  
	            type: "get",  
	            url: "/console/kjk/ajaxSubjectName",  
	            data: {subjectName2:name},  
	            dataType: "json",  
	            success: function (data) {  
	            	var itemHTML="";
	            	$.each(data, function(index, element) {  
	            		/*<![CDATA[*/
	            		itemHTML += "<option value='"+element.subjectName+"'>"+element.subjectName+"</option>";
	            		/*]]>*/
	            	});
	            	$("#subject").empty();
                    $("#subject").html(itemHTML);  
	            }  
	        });
		}
    });  
	
});


</script>		
</body>
</html>