<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">      
<head th:include="console/header">
<style> html, body { margin: 0; padding: 0; font-size: 75%; }</style>
</head>
<body>
<section class="content-header">
    <h1>课件管理</h1>
</section>

<section class="content table-content">
	<div id="opt"> 
	    <div id="query">
	    	<input type="button" class="btn btn-primary" id="add_btn" value="新 增" /> 
	    	<input type="button" class="btn btn-primary" id="del_btn" value="删 除" /> 
	      	<label>课件类型：</label>
	      	<select id="play_type" class="bt-select" style="height: 26px;width: 115px;">
	        	 <option th:each="module:${kjkPlayTypeList}" th:value="${module.playType}" ><div th:text="${module.playTypeName}"/></option>
	       	</select> 
	       	<label>课件id：</label><input type="text" class="input" id="cw_id" /> 
	       	<label>关键字：</label><input type="text" class="input" id="keyword" />
	       	<input type="submit" class="btn btn-primary" id="find_btn" value="查 询" /> 
	       	<input type="button" class="btn btn-primary" id="download_btn" value="导出课件" />
	       	<input type="button" class="btn btn-primary" id="template_btn" value="下载模板" />
	       <input type="button" class="btn btn-primary" id="upload_btn" value="导入课件" />
	    </div> 	     
 </div>
    <table id="mygrid"></table>
    <div id="jqgrid-pager"></div>
</section>
<div th:include="console/footer"></div>
<script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/static/assets/jqgrid/js/jquery.jqGrid.src.js"></script>				
<script type="text/javascript" src="/static/assets/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script th:inline="javascript">    
$('#mygrid').jqGrid({  
    url : '/console/kjk/courseware/list',  
    //postData:{'menuId':$('#menuId').val(),'type':$('#type').val()},  
    mtype : "GET",  
    contentType : "application/json",  
    datatype : "json", 
    prmNames : {  
    	page:"page",    // 表示请求页码的参数名称  
    	rows:"limit",    // 表示请求行数的参数名称  
    	sort: "sort", // 表示用于排序的列名的参数名称  
    	order: "order", // 表示采用的排序方式的参数名称  
    	search:"_search", // 表示是否是搜索请求的参数名称  
    	nd:"nd", // 表示已经发送请求的次数的参数名称  
    	id:"id", // 表示当在编辑数据模块中发送数据时，使用的id的名称  
    	oper:"oper",    // operation参数名称（我暂时还没用到）  
    	editoper:"edit", // 当在edit模式中提交数据时，操作的名称  
    	addoper:"add", // 当在add模式中提交数据时，操作的名称  
    	deloper:"del", // 当在delete模式中提交数据时，操作的名称  
    	subgridid:"id", // 当点击以载入数据到子表时，传递的数据名称  
    	npage: null,   
    	totalrows:"totalrows" // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal  
    },
   styleUI: 'Bootstrap',
    colModel : [
    {  
        label : '课件id',  
        name : 'id'  
    }, {  
        label : '课件编号',  
        name : 'code'
    },
    {  
        label : '课件名称',  
        name : 'name'
    },
    {  
        label : '课程名称',  
        name : 'pName'
    },
    {
        label : '电脑版播放类型',  
        name : 'playType'
    },
    {  
        label : '预览',  
        name : 'code',
        formatter : previewDateFormat
    },
    {  
        label : '手机版播放类型',  
        name : 'mobileType'
    },
    {  
        label : '预览',  
        name : 'code',
        formatter : previewDateFormat        
    },
    {  
        label : '最后修改时间',  
        name : 'updateDate',
        formatter : changeDateFormat
    },
    {  
        label : '标签',  
        name : 'code',
        formatter : nullDateFormat
    },
    {  
        label : '专家',  
        name : 'expert'      
    },
    {  
        label : '专家单位',  
        name : 'expertUnit'
    },
    {  
        label : '二级学科',  
        name : 'subject2'
    },
    {  
        label : '三级学科',  
        name : 'subject'
    },
    {  
        label : '关键字',  
        name : 'keyword'
    },
    {  
        label : '时长（时:分:秒）',  
        name : 'classTimeStr'
    },
    {  
        label : '缩略图地址',  
        name : 'slImg'
    },
    {  
        label : 'logo',  
        name : 'logo'     
    },
    {  
        label : '片头',  
        name : 'piantou'
    },
    {  
        label : '片尾',  
        name : 'pianwei'
    },
    {  
        label : '拍摄年份',  
        name : 'shotYear'
    },
    {  
        label : '上传时间',  
        name : 'addDate',
        formatter : changeDateFormat
    },
    {  
        label : '物理路径',  
        name : 'path'
    },
    {  
        label : '操作',  
        name : 'id',  
        formatter : operateFormatter,
        align : 'center'
    }
    ],  
    height : '100%',  
    pager : '#jqgrid-pager',  
    autowidth : true,
    rowNum : 20, 
    rowList : [ 10, 20, 30 ],  
    sortname : 'createDate',  
    sortable : true,  
    sortorder : 'desc', 
    viewrecords:true,
    caption:'课件表',
    jsonReader : {  
        root : "result.pageInfo.list", // json中代表实际模型数据的入口  
        records : "result.pageInfo.total", // json中代表数据行总数的数据  
        page : "result.pageInfo.pageNum", // json中代表当前页码的数据  
        total : "result.pageInfo.pages", // json中代表页码总数的数据  
        repeatitems : false  
    },    
    multiselect : true,  
    onSelectRow : function(rowid,  
            status) {  
        selId = rowid;  
    }  
});
function changeDateFormat(value) {    	
    if (value != null) {        	
    	return getSmpFormatDateByLong(value,true);        	
    } 
} 
function previewDateFormat(value){
	return "预览";
}
function nullDateFormat(value){
	return "未知列";
}
function operateFormatter(value, row, index) {
    return [           
        '<a href="javascript:openPop(\''+value+'\');" >',    	 
        '<i class="glyphicon glyphicon-edit"></i>修改',
        '</a>'
    ].join('');
}
function openPop(id){
	 layer.open({
         type: 2,
         title: '修改',
         shadeClose: true,
         shade: false,
         maxmin: true, //开启最大化最小化按钮
         area: ['500px', '650px'],
         content: '/console/kjk/courseware/eidt?id=' +id
     });
}
$(function(){ 
	//查询数据
    $("#find_btn").click(function(){ 
        var cwId = $("#cw_id").val(); 
        var keyword = $("#keyword").val();
        var playType = $("#play_type").val(); 
        $("#mygrid").jqGrid('setGridParam',{ 
            url:"/console/kjk/courseware/list", 
            postData:{'id':cwId,'keyword':keyword,'playType':playType}, //发送数据 
            page:1 
        }).trigger("reloadGrid"); //重新载入 
    });     
	//导出数据
    $("#download_btn").click(function(){ 
        var cwId = $("#cw_id").val(); 
        var keyword = $("#keyword").val();
        var playType = $("#play_type").val(); 
        /*<![CDATA[*/
        window.location.href = "/console/kjk/courseware/download?id="+cwId+"&keyword="+keyword+"&playType="+playType;
        /*]]>*/
    });  
	//下载导入模板
    $("#template_btn").click(function(){                
        window.location.href = "/console/kjk/courseware/downloadTemplate";        
    });  
    
	//删除数据(假删除)
	$("#del_btn").click(function(){
		var selectedRowIds = $("#mygrid").jqGrid("getGridParam", "selarrrow");
		//判断是否为空  
        if(selectedRowIds==""){  
			layer.msg("请选择要删除的行！");
			return;
        }
		
        $.ajax({  
            type: "post",  
            url: "/console/kjk/courseware/delete",  
            data: {cwareids:selectedRowIds.toString()},  
            dataType: "json",  
            success: function (data) {  
                //判断后台是否删除成功  
                //如果成功则调用jqGrid的reloadGrid方法重新加载表格  
                if(data.msg==1){ 
                	layer.msg("删除成功！");
                    $("#mygrid").trigger("reloadGrid"); //重新载入 
                }else{
                	layer.msg("删除异常，请联系管理员");
                }  
            }  
        });
		
	});
	
	//添加课件
	$("#add_btn").click(function(){
		layer.open({
            type: 2,
            title: '新增课件',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['500px', '545px'],
            content: '/console/kjk/courseware/eidt'
        });
	 });
	
}); 

//刷新当前表格type=1修改，2添加
function reloadCurrentGrid(type){
	debugger;
	if(type==1){
		 $("#mygrid").trigger("reloadGrid"); //重新载入 
	}else{
		 $("#mygrid").jqGrid('setGridParam',{page:1}).trigger("reloadGrid"); //重新载入 
	}
}
</script>
</body>
</html>

