<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekcattle.mapper.kjk.KjkCoursewareMapper">
  <resultMap id="BaseResultMap" type="com.geekcattle.model.kjk.KjkCourseware">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="P_NAME" jdbcType="VARCHAR" property="pName" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="PLAY_TYPE" jdbcType="VARCHAR" property="playType" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="INTRODUCE" jdbcType="VARCHAR" property="introduce" />
    <result column="EXPERT" jdbcType="VARCHAR" property="expert" />
    <result column="EXPERT_UNIT" jdbcType="VARCHAR" property="expertUnit" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ADD_DATE" jdbcType="TIMESTAMP" property="addDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CLICK_COUNT" jdbcType="INTEGER" property="clickCount" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CLASS_TIME" jdbcType="DECIMAL" property="classTime" />
    <result column="CLASS_HOUR" jdbcType="DECIMAL" property="classHour" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PAR1" jdbcType="VARCHAR" property="par1" />
    <result column="PAR2" jdbcType="VARCHAR" property="par2" />
    <result column="PAR3" jdbcType="VARCHAR" property="par3" />
    <result column="PAR4" jdbcType="VARCHAR" property="par4" />
    <result column="MOBILE_TYPE" jdbcType="VARCHAR" property="mobileType" />
    <result column="SUBJECT2" jdbcType="VARCHAR" property="subject2" />
    <result column="SL_IMG" jdbcType="VARCHAR" property="slImg" />
    <result column="LOGO" jdbcType="VARCHAR" property="logo" />
    <result column="PIANTOU" jdbcType="VARCHAR" property="piantou" />
    <result column="PIANWEI" jdbcType="VARCHAR" property="pianwei" />
    <result column="SHOT_YEAR" jdbcType="VARCHAR" property="shotYear" />
   <result column="CLASS_TIME_STR" jdbcType="VARCHAR" property="classTimeStr" />
   <result column="LABEL" jdbcType="VARCHAR" property="label" />
   <result column="PLAY_FLAG" jdbcType="VARCHAR" property="playFlag" />
   <result column="CREATER" jdbcType="VARCHAR" property="creater" />
   <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
   <result column="PROJECT_LEVEL" jdbcType="VARCHAR" property="projectLevel" />
  </resultMap>
  <resultMap id="BaseResultExcelVo" type="com.geekcattle.vo.kjk.CoursewareVo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="P_NAME" jdbcType="VARCHAR" property="pName" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="PLAY_TYPE" jdbcType="VARCHAR" property="playType" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
    <result column="INTRODUCE" jdbcType="VARCHAR" property="introduce" />
    <result column="EXPERT" jdbcType="VARCHAR" property="expert" />
    <result column="EXPERT_UNIT" jdbcType="VARCHAR" property="expertUnit" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ADD_DATE" jdbcType="TIMESTAMP" property="addDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="CLICK_COUNT" jdbcType="INTEGER" property="clickCount" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CLASS_TIME" jdbcType="DECIMAL" property="classTime" />
    <result column="CLASS_HOUR" jdbcType="DECIMAL" property="classHour" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PAR1" jdbcType="VARCHAR" property="par1" />
    <result column="PAR2" jdbcType="VARCHAR" property="par2" />
    <result column="PAR3" jdbcType="VARCHAR" property="par3" />
    <result column="PAR4" jdbcType="VARCHAR" property="par4" />
    <result column="MOBILE_TYPE" jdbcType="VARCHAR" property="mobileType" />
    <result column="SUBJECT2" jdbcType="VARCHAR" property="subject2" />
    <result column="SL_IMG" jdbcType="VARCHAR" property="slImg" />
    <result column="LOGO" jdbcType="VARCHAR" property="logo" />
    <result column="PIANTOU" jdbcType="VARCHAR" property="piantou" />
    <result column="PIANWEI" jdbcType="VARCHAR" property="pianwei" />
    <result column="SHOT_YEAR" jdbcType="VARCHAR" property="shotYear" />
   <result column="CLASS_TIME_STR" jdbcType="VARCHAR" property="classTimeStr" />
   <result column="LABEL" jdbcType="VARCHAR" property="label" />
   <result column="CREATER" jdbcType="VARCHAR" property="creater" />
   <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
   <result column="PROJECT_LEVEL" jdbcType="VARCHAR" property="projectLevel" />
   <result column="PLAY_FLAG" jdbcType="VARCHAR" property="playFlag" />
  </resultMap>  
  <sql id="Courseware_Where">
      <where>
          <if test="status!=null">
              cw.status = #{status}
          </if>
          <if test="id!=null">
              and cw.id = #{id}
          </if>
          <if test="playType!=null and playType!=-1 and  playType!=''">
              and (cw.play_type = #{playType} or cw.MOBILE_TYPE = #{playType} ) 
          </if>
          <if test="keyword!=null and keyword!=''">
              and (cw.keyword like '%'||#{keyword}||'%' or cw.name like '%'||#{keyword}||'%' or cw.p_name like '%'||#{keyword}||'%')
          </if>
      </where>
  </sql>
  <select id="findCourseware"  resultMap="BaseResultMap">
        select * from KJK_COURSEWARE cw
        <include refid="Courseware_Where" />
    </select>
    <select id="findCoursewareVo"  resultMap="BaseResultExcelVo">
        select * from KJK_COURSEWARE cw
        <include refid="Courseware_Where" />
    </select>
    
    <insert id="insertCourseware" parameterType="com.geekcattle.model.kjk.KjkCourseware">
    insert into KJK_COURSEWARE (ID, NAME, P_NAME, 
      CODE, PATH, FILE_TYPE, 
      PLAY_TYPE, SUBJECT, KEYWORD, 
      INTRODUCE, EXPERT, EXPERT_UNIT, 
      SOURCE, CREATE_DATE, ADD_DATE, 
      UPDATE_DATE, CLICK_COUNT, STATUS, 
      CLASS_TIME, CLASS_HOUR, REMARK, 
      PAR1, PAR2, PAR3, PAR4, 
      MOBILE_TYPE, SUBJECT2, SL_IMG, 
      LOGO, PIANTOU, PIANWEI, 
      SHOT_YEAR,CLASS_TIME_STR,LABEL,
      CREATER,PLAY_FLAG,PROJECT_LEVEL,MODIFIER)
    values (KJK_COURSEWARE_SEQ.nextval, #{name,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{playType,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{expert,jdbcType=VARCHAR}, #{expertUnit,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{addDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{clickCount,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{classTime,jdbcType=DECIMAL}, #{classHour,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{par1,jdbcType=VARCHAR}, #{par2,jdbcType=VARCHAR}, #{par3,jdbcType=VARCHAR}, #{par4,jdbcType=VARCHAR}, 
      #{mobileType,jdbcType=VARCHAR}, #{subject2,jdbcType=VARCHAR}, #{slImg,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{piantou,jdbcType=VARCHAR}, #{pianwei,jdbcType=VARCHAR}, 
      #{shotYear,jdbcType=VARCHAR},#{classTimeStr,jdbcType=VARCHAR},#{label,jdbcType=VARCHAR},
      #{creater,jdbcType=VARCHAR},#{playFlag,jdbcType=VARCHAR},#{projectLevel,jdbcType=VARCHAR},#{modifier,jdbcType=VARCHAR})
    </insert>
    
     <update id="updateCourseware" parameterType="com.geekcattle.model.kjk.KjkCourseware">
    update KJK_COURSEWARE
    set NAME = #{name,jdbcType=VARCHAR},
      P_NAME = #{pName,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      PLAY_TYPE = #{playType,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      KEYWORD = #{keyword,jdbcType=VARCHAR},
      INTRODUCE = #{introduce,jdbcType=VARCHAR},
      EXPERT = #{expert,jdbcType=VARCHAR},
      EXPERT_UNIT = #{expertUnit,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      ADD_DATE = #{addDate,jdbcType=DATE},
      UPDATE_DATE = #{updateDate,jdbcType=DATE},
      CLICK_COUNT = #{clickCount,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CLASS_TIME = #{classTime,jdbcType=DECIMAL},
      CLASS_HOUR = #{classHour,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      PAR1 = #{par1,jdbcType=VARCHAR},
      PAR2 = #{par2,jdbcType=VARCHAR},
      PAR3 = #{par3,jdbcType=VARCHAR},
      PAR4 = #{par4,jdbcType=VARCHAR},
      MOBILE_TYPE = #{mobileType,jdbcType=VARCHAR},
      SUBJECT2 = #{subject2,jdbcType=VARCHAR},
      SL_IMG = #{slImg,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      PIANTOU = #{piantou,jdbcType=VARCHAR},
      PIANWEI = #{pianwei,jdbcType=VARCHAR},
      SHOT_YEAR = #{shotYear,jdbcType=VARCHAR},
      CLASS_TIME_STR = #{classTimeStr,jdbcType=VARCHAR},
      LABEl=#{label,jdbcType=VARCHAR},
      CREATER=#{creater,jdbcType=VARCHAR},
      PLAY_FLAG=#{playFlag,jdbcType=VARCHAR},
      PROJECT_LEVEL=#{projectLevel,jdbcType=VARCHAR},
      MODIFIER=#{modifier,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="findCoursewareByNames"  resultMap="BaseResultExcelVo">  		
        select * from KJK_COURSEWARE where name in
	        <foreach collection="params"  item="courseware" separator="," open="(" close=")">
	         #{courseware.name}
	         </foreach>
	         and status !=1
    </select>
    <insert id="insertCoursewareBatch" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO KJK_COURSEWARE (
         	ID, NAME, P_NAME,
         	CODE, PATH, FILE_TYPE,
         	PLAY_TYPE,SUBJECT, KEYWORD, 
	      	INTRODUCE, EXPERT, EXPERT_UNIT, 
	      	SOURCE, CREATE_DATE, ADD_DATE, 
	      	UPDATE_DATE, CLICK_COUNT, STATUS, 
	      	CLASS_TIME, CLASS_HOUR, REMARK, 
	      	PAR1, PAR2, PAR3, PAR4, 
	      	MOBILE_TYPE, SUBJECT2, SL_IMG, 
	      	LOGO, PIANTOU, PIANWEI, 
	      	SHOT_YEAR,CLASS_TIME_STR,LABEL,
	      	CREATER,PLAY_FLAG,PROJECT_LEVEL     
        )
        SELECT kjk_courseware_seq.NEXTVAL ID, T1.* FROM ( 
        <foreach item="courseware" index="index" collection="list" separator="union all">       
            SELECT 
            #{courseware.name,jdbcType=VARCHAR} NAME, 
            #{courseware.pName,jdbcType=VARCHAR} P_NAME,	
            #{courseware.code,jdbcType=VARCHAR} CODE, 
            #{courseware.path,jdbcType=VARCHAR} PATH, 
            #{courseware.fileType,jdbcType=VARCHAR} FILE_TYPE, 
	      	#{courseware.playType,jdbcType=VARCHAR} PLAY_TYPE, 
	      	#{courseware.subject,jdbcType=VARCHAR} SUBJECT, 
	      	#{courseware.keyword,jdbcType=VARCHAR} KEYWORD, 
	      	#{courseware.introduce,jdbcType=VARCHAR} INTRODUCE, 
	      	#{courseware.expert,jdbcType=VARCHAR} EXPERT, 
	      	#{courseware.expertUnit,jdbcType=VARCHAR} EXPERT_UNIT, 
	      	#{courseware.source,jdbcType=VARCHAR} SOURCE, 
	      	#{courseware.createDate,jdbcType=TIMESTAMP} CREATE_DATE, 
	      	#{courseware.addDate,jdbcType=TIMESTAMP} ADD_DATE, 
	      	#{courseware.updateDate,jdbcType=TIMESTAMP} UPDATE_DATE, 
	      	#{courseware.clickCount,jdbcType=DECIMAL} CLICK_COUNT, 
	      	#{courseware.status,jdbcType=DECIMAL} STATUS, 
	      	#{courseware.classTime,jdbcType=DECIMAL} CLASS_TIME, 
	      	#{courseware.classHour,jdbcType=DECIMAL} CLASS_HOUR,
	      	#{courseware.remark,jdbcType=VARCHAR} REMARK, 
	      	#{courseware.par1,jdbcType=VARCHAR} PAR1, 
	      	#{courseware.par2,jdbcType=VARCHAR} PAR2, 
	      	#{courseware.par3,jdbcType=VARCHAR} PAR3, 
	      	#{courseware.par4,jdbcType=VARCHAR} PAR4, 
	      	#{courseware.mobileType,jdbcType=VARCHAR} MOBILE_TYPE, 
	      	#{courseware.subject2,jdbcType=VARCHAR} SUBJECT2, 
	      	#{courseware.slImg,jdbcType=VARCHAR} SL_IMG, 
	      	#{courseware.logo,jdbcType=VARCHAR} LOGO, 
	      	#{courseware.piantou,jdbcType=VARCHAR} PIANTOU, 
	      	#{courseware.pianwei,jdbcType=VARCHAR} PIANWEI, 
	      	#{courseware.shotYear,jdbcType=VARCHAR} SHOT_YEAR,
	      	#{courseware.classTimeStr,jdbcType=VARCHAR} CLASS_TIME_STR,
	      	#{courseware.label,jdbcType=VARCHAR} LABEL,
	      	#{courseware.creater,jdbcType=VARCHAR} CREATER,
	      	#{courseware.playFlag,jdbcType=VARCHAR} PLAY_FLAG, 
	      	#{courseware.projectLevel,jdbcType=VARCHAR} PROJECT_LEVEL
	      FROM DUAL        
        </foreach>
        ) T1
    </insert>
    
    <!-- <insert id ="insertCoursewareBatch" parameterType="java.util.List" useGeneratedKeys="false">        
       insert into KJK_COURSEWARE (ID,NAME, P_NAME, 
	      CODE, PATH, FILE_TYPE, 
	      PLAY_TYPE, SUBJECT, KEYWORD, 
	      INTRODUCE, EXPERT, EXPERT_UNIT, 
	      SOURCE, CREATE_DATE, ADD_DATE, 
	      UPDATE_DATE, CLICK_COUNT, STATUS, 
	      CLASS_TIME, CLASS_HOUR, REMARK, 
	      PAR1, PAR2, PAR3, PAR4, 
	      MOBILE_TYPE, SUBJECT2, SL_IMG, 
	      LOGO, PIANTOU, PIANWEI, 
	      SHOT_YEAR,CLASS_TIME_STR,LABEL,
	      CREATER,PLAY_FLAG,PROJECT_LEVEL)
       SELECT kjk_courseware_seq.NEXTVAL ID, T1.* FROM (              	
        <foreach collection ="list" item="courseware" index= "index" separator ="UNION ALL">
          SELECT #{courseware.name,jdbcType=VARCHAR} NAME, #{courseware.pName,jdbcType=VARCHAR} P_NAME, 
	      #{courseware.code,jdbcType=VARCHAR} CODE, #{courseware.path,jdbcType=VARCHAR} PATH, #{courseware.fileType,jdbcType=VARCHAR} FILE_TYPE, 
	      #{courseware.playType,jdbcType=VARCHAR} PLAY_TYPE, #{courseware.subject,jdbcType=VARCHAR} SUBJECT, #{courseware.keyword,jdbcType=VARCHAR} KEYWORD, 
	      #{courseware.introduce,jdbcType=VARCHAR} INTRODUCE, #{courseware.expert,jdbcType=VARCHAR} EXPERT, #{courseware.expertUnit,jdbcType=VARCHAR} EXPERT_UNIT, 
	      #{courseware.source,jdbcType=VARCHAR} SOURCE, #{courseware.createDate,jdbcType=TIMESTAMP} CREATE_DATE, #{courseware.addDate,jdbcType=TIMESTAMP} ADD_DATE, 
	      #{courseware.updateDate,jdbcType=TIMESTAMP} UPDATE_DATE, #{courseware.clickCount,jdbcType=DECIMAL} CLICK_COUNT, #{courseware.status,jdbcType=DECIMAL} STATUS, 
	      #{courseware.classTime,jdbcType=DECIMAL} CLASS_TIME, #{courseware.classHour,jdbcType=DECIMAL} CLASS_HOUR, #{courseware.remark,jdbcType=VARCHAR} REMARK, 
	      #{courseware.par1,jdbcType=VARCHAR} PAR1, #{courseware.par2,jdbcType=VARCHAR} PAR2, #{courseware.par3,jdbcType=VARCHAR} PAR3, #{courseware.par4,jdbcType=VARCHAR} PAR4, 
	      #{courseware.mobileType,jdbcType=VARCHAR} MOBILE_TYPE, #{courseware.subject2,jdbcType=VARCHAR} SUBJECT2, #{courseware.slImg,jdbcType=VARCHAR} SL_IMG, 
	      #{courseware.logo,jdbcType=VARCHAR} LOGO, #{courseware.piantou,jdbcType=VARCHAR} PIANTOU, #{courseware.pianwei,jdbcType=VARCHAR} PIANWEI, 
	      #{courseware.shotYear,jdbcType=VARCHAR} SHOT_YEAR,#{courseware.classTimeStr,jdbcType=VARCHAR} CLASS_TIME_STR,#{courseware.label,jdbcType=VARCHAR} LABEL,
	      #{courseware.creater,jdbcType=VARCHAR} CREATER,#{courseware.playFlag,jdbcType=VARCHAR} PLAY_FLAG,#{courseware.projectLevel,jdbcType=VARCHAR} PROJECT_LEVEL
	      FROM DUAL
        </foreach >
        ) T1
</insert > -->    
</mapper>