<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>CME特色项目</h1>
   <!--  <small>列表管理</small> -->
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a href="/console/business/projectCME/from" class="btn btn-primary" >添加</a>
</div>
<div th:include="console/footer"></div>
<script th:inline="javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "infoId",
            columns: [[
				{title: "序号", formatter: function (value, row, index) { return index+1;}},       
                {title: "项目名称", field: "infoName"}, 
                {title: "地区", field: "ordView"},
                {title: "修改时间", field: "updteDate", sortable: true,formatter:changeDateFormat},        
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url: '/console/business/projectCME/list',
            queryParams: function(params){
            	var param = {    
            			limit: params.limit,    
            			offset: params.offset,
            			order:params.order,
            			sort:params.sort,
            			search:params.search
                    };
                return param;
            },
            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            },
            sortName : 'updteDate',
            sortOrder : 'desc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 20,
            pageList : [20, 40, 50, 100],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : true
        });
    }

    function operateFormatter(value, row, index) {
        return [           
            '<a href="/console/business/projectCME/from?infoId='+row.infoId+'" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }
    function changeDateFormat(value) {    	
        if (value != null) {        	
        	return getSmpFormatDateByLong(value,true);        	
        } 
    } 
    window.operateEvents = {
        'click .remove' : function (e, value, row, index) {
            operaModel.delRow(row.infoId, '/console/business/projectCME/delete', 'infoId');
        }        
    };

</script>
</body>
</html>

